@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
body {
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/backgroundimg.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  filter: brightness(80%) contrast(90%);
  z-index: -1;  /* Coloca el fondo detrás del contenido */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh; /* Esto asegura que al menos tenga el alto del viewport */
}
}
